.top-footer {
  background: rgb(58, 56, 56);
  color: #5bc0de
}
.topFooter-about:link {
  text-decoration: none;
  color:#5bc0de
}

.topFooter-contact:link {
  text-decoration: none;
  color:#5bc0de
}

.topFooter-about {
  max-height: 30rem;
  border: 1px solid #5bc0de;
  background-color: rgb(58, 56, 56);
  color: #5bc0de;
}

.topFooter-contact {
  max-height: 30rem;
  border: 1px solid #5bc0de;
  background: rgb(58, 56, 56);
  color: #5bc0de;
}